<!DOCTYPE html>
<!--suppress XmlInvalidId -->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Product</title>

    <style>
        input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px solid red;
        border-radius: 4px;
        }

        input[type=submit]{
        background-color: #04AA6D;
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
}
</style>
</head>
<body>
<form th:action="@{/save}" method="GET">
    <label for="id">ID</label>
    <input type="text" th:field="*{id}" value="" id="id" name="id">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" value="" id="name" name="name">
    <input type="submit" value="submit">
</form>
</body>
</html>