<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
</head>
<body>

<a th:href="@{/category/form}">Add New Category</a>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Action</th>
    </tr>
    <tbody>
    <tr th:each="category : ${categories}">
        <td th:text="${category.id}"></td>
        <td th:text="${category.name}"></td>
        <td>
            <button>
                <!--                <a th:href="@{/category-update/${category.id}}">Update</a>-->
                <a th:href="@{category/form/{id} (id = ${category.id})}">Update</a>
            </button>
        </td>
        <td>
            <form th:action="@{/category/delete/{id} (id = ${category.id})}" method="post">
                <input type="submit" value="delete">
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>